html {
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0 auto;
    width: 100dvw;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Colors */
* {
    color: #152237;
    margin: 0;
}

.header__nav-formation,
.content__recent,
.content__formations-discount,
.content__formations-value,
.content__formations-button,
.content__recent-title,
.content__recent-subtitle,
.content__recent-info,
.content__recent-text,
::-webkit-input-placeholder,
.footer__legalties-title,
.footer__legalties-object,
.footer__coordinates-title,
.footer__coordinates-object,
.footer__coordinates-span,
.footer__copyright-text,
.footer__social-title {
    color: #ffffff;
}

.content__witness-text {
    color: #000000cc;
}

.hero__subtitle {
    color: #000000;
}

header,
footer,
.content__recent,
.content__formations-price,
.content__formations-button,
.content__about-bloc,
.footer__contact-input,
.footer__contact-textarea {
    background-color: #152237;
}

.footer__contact,
.content__recent-price {
    background-color: #ffffff;
}

.content__benefits,
.content__about {
    background-color: #f5f5f5;
}

.content__create,
.footer__contact-submit {
    background-color: #44dd8a;
}

/*Header*/
header {
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__image {
    width: 5.25rem;
    height: 1.9375rem;
    margin: 1.5313rem;
}

.header__burger-icon {
    margin: 0.75rem 1.125rem;
}

.header__nav {
    display: none;
}

/*Hero*/
.hero {
    background: linear-gradient(
            94.01deg,
            rgba(68, 221, 138, 0.8) 3.11%,
            rgba(21, 183, 226, 0.8) 98.45%
        ),
        url(/assets/images/bg-header.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 22.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.hero__title {
    height: 7.3125rem;
    width: 22.5rem;
    font-weight: 800;
    font-size: 32px;
    margin: 2.8125rem 0 1.6875rem;
}

.hero__subtitle {
    height: 4.5rem;
    width: 22.5rem;
    font-weight: 500;
    font-size: 20px;
}

.hero__button {
    width: 8.125rem;
    height: 2.5rem;
    border-radius: 6px;
    font-weight: 500;
    font-size: 15px;
    margin: 2.0781rem 0 34px;
    border: none;
}

/*Content*/
.content__formations,
.content__recent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content__formations-bloc,
.content__recent-bloc {
    margin: 2.5rem 0 0.688rem 0;
}

.content__formations-title,
.content__recent-title {
    font-size: 30px;
    font-weight: 800;
    width: 20.9375rem;
    height: 5rem;
    text-align: center;
    margin-top: 1.25rem;
}

.content__formations-price,
.content__recent-price {
    border-radius: 93px;
    width: 7.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    margin: -1.375rem 0 0 10.875rem;
}

.content__formations-discount,
.content__recent-discount {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    height: 1.9737rem;
    margin-right: 6px;
}

.content__formations-value,
.content__recent-value {
    font-size: 10px;
    font-weight: 400;
    text-decoration: line-through;
    line-height: 0.4375rem;
    display: flex;
    align-items: center;
}

.content__formations-subtitle,
.content__recent-subtitle {
    font-size: 24px;
    font-weight: 700;
    height: 1.75rem;
    width: 18.9375rem;
    margin: 1.3125rem 0 0 0.875rem;
}

.content__formations-info,
.content__recent-info {
    font-size: 16px;
    font-weight: 400;
    width: 18.3125rem;
    height: 1.5625rem;
    margin: 0.6875rem 0 0 0.875rem;
}

.content__formations-rating,
.content__recent-rating {
    margin: 0.5rem 0 0 0.875rem;
}

.content__formations-text,
.content__recent-text {
    font-size: 16px;
    font-weight: 400;
    width: 17.5rem;
    height: 2.25rem;
    margin: 0.4875rem 0 0 0.875rem;
}

.content__formations-button,
.content__recent-button {
    width: 14.0625rem;
    height: 2.5rem;
    border-radius: 6px;
    font-weight: 500;
    font-size: 15px;
    margin: 1.875rem 0 2.8125rem 0;
    border: none;
}

.content__witness {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__witness-title {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 1.75rem 0 1.625rem;
}

.content__witness-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__witness-image {
    border-radius: 50%;
}

.content__witness-subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 2.25rem;
    margin: 0 0 0.4375rem 0;
}

.content__witness-rating {
    margin: 0 0 0.8625rem 0;
}

.content__witness-text {
    font-size: 16px;
    font-weight: 400;
    width: 22.9375rem;
    line-height: 30px;
    margin: 0 0 1.5rem 0;
}

.content__benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__benefits-title {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 3.125rem;
    width: 21.8125rem;
    height: 5.8125rem;
    margin: 1.5625rem 1.375rem 1.0625rem;
}

.content__benefits-list {
    font-size: 20px;
    font-weight: 400;
    width: 21.9375rem;
    line-height: 28px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -1.75rem;
}

.content__benefits-object {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 1.0625rem;
    margin: 0 0 15px 0;
}

.content__benefits-image {
    width: 20.4375rem;
    height: 15.25rem;
    object-fit: cover;
    margin: 0 2.0625rem 2.375rem;
}

.content__create {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__create-title {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.25rem;
    width: 22.875rem;
    height: 4.9375rem;
    margin: 1.6875rem 1.375rem 0.8125rem;
}

.content__create-image {
    width: 20.25rem;
    height: 15.1875rem;
    object-fit: cover;
    margin: 0 2.125rem 1.375rem;
}

.content__create-label {
    display: none;
}

.content__create-list {
    font-size: 20px;
    font-weight: 400;
    width: 21.9375rem;
    line-height: 28px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -1.75rem;
}

.content__create-object {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 2.4375rem;
    margin: 0 0 26px 0;
}

.content__about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content__about-title {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    width: 20.185rem;
    height: 4.5rem;
    text-align: center;
    line-height: 2.25rem;
    margin: 1.6875rem 1.5rem 1.25rem 0;
}

.content__about-content {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 1.0625rem 1.5rem;
    padding-bottom: 3rem;
}

.content__about-text:not(:first-of-type) {
    margin-top: 1rem;
}

.content__about-bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100dvw;
    aspect-ratio: 1 / 1;
}

.content__about-image {
    width: 13.375rem;
    display: block;
    margin: auto;
}

/*Footer*/
.footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__contact-title {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 1.8125rem 1.375rem 1.9375rem;
}

.footer__contact-line,
.footer__connexion,
.footer__line,
.footer__copyright,
.footer__social {
    display: none;
}

.footer__contact-input {
    width: 22.25rem;
    height: 2.8125rem;
    margin-bottom: 1.375rem;
    font-size: 15px;
    font-weight: 400;
    border: none;
    text-indent: 17px;
}

.footer__contact-textarea {
    width: 22.25rem;
    height: 11.5625rem;
    margin-bottom: 1.375rem;
    font-size: 15px;
    font-weight: 400;
    border: none;
    text-indent: 17px;
    padding-top: 9px;
}

.footer__contact-submit {
    width: 22.25rem;
    height: 2.8125rem;
    border: none;
    margin-bottom: 38px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 6px;
}

.footer__bar {
    height: 1.125rem;
    width: 100%;
    background: linear-gradient(90.01deg, #44dd8a 2.38%, #18a0fb 100%);
}

.footer__image {
    width: 15.1875rem;
    height: 5.4375rem;
    margin: 2.8125rem 4.6875rem 2.8125rem;
}

.footer__legalties {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer__legalties-title {
    width: 10.8125rem;
    height: 1.5rem;
    font-size: 15px;
    font-weight: 700;
}

.footer__legalties-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.footer__legalties-object {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.footer__coordinates {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__coordinates-title {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 1.3125rem;
}

.footer__coordinates-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-bottom: 53px;
}

.footer__coordinates-object {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    gap: 1rem;
    display: flex;
    align-items: flex-start;
}

/*Desktop*/
@media (min-width: 769px) {
    .header {
        display: flex;
        padding: 0 5vw;
    }

    .header__image {
        width: 5.25rem;
        height: 1.9375rem;
        margin: 1.5313rem 0;
    }

    .header__nav {
        display: flex;
        width: 100%;
    }

    .header__burger-icon {
        display: none;
    }

    .header__nav-formation {
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
    }

    .header__nav-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        padding-left: 5vw;
    }

    .header__nav-search-button,
    .header__nav-input {
        background-color: transparent;
        border: 0;
        font-size: 15px;
        font-weight: 500;
    }

    .header__nav-bar {
        display: flex;
        border: 1px solid #ffffff;
        border-radius: 6px;
        width: 100%;
        padding: 0.5rem;
        padding-left: 1rem;
    }

    .header__nav-object {
        width: 100%;
        text-align: center;
    }

    .header__nav-object:last-child {
        display: flex;
        justify-content: flex-end;
    }

    .header__nav-input {
        width: 100%;
    }

    .header__nav-button {
        font-size: 15px;
        font-weight: 500;
        width: 8.125rem;
        height: 2.5rem;
        border-radius: 6px;
        border: none;
    }

    .header__nav-button:last-child {
        background: linear-gradient(95.98deg, #44dd8a 8.7%, #15b7e2 100%);
        margin-left: 0.99vw;
    }

    .hero {
        background-position: 50% 69%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 22.625rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        height: 28.1875rem;
    }

    .hero__title {
        width: 65.8125rem;
        height: 3.6875rem;
        font-weight: 800;
        font-size: 48px;
        margin: 2.8125rem 0 0.5rem;
    }

    .hero__subtitle {
        height: 1.5rem;
        width: 46.4375rem;
        font-weight: 500;
        font-size: 20px;
    }

    .hero__button {
        width: 8.125rem;
        height: 2.5rem;
        border-radius: 6px;
        font-weight: 500;
        font-size: 15px;
        margin: 1.375rem 0 0;
        border: none;
    }

    .content__formations,
    .content__recent {
        display: flex;
        align-items: flex-start;
    }

    .content__formations-title,
    .content__recent-title {
        font-size: 36px;
        width: 31.375rem;
        height: 4.5rem;
        text-align: center;
        margin-top: 1.875rem;
        display: flex;
        align-self: flex-start;
        padding-left: 5.5vw;
    }

    .content__formations-ads,
    .content__recent-ads {
        display: flex;
        flex-direction: row;
        align-self: center;
        margin-left: 5rem;
    }

    .content__formations-bloc,
    .content__recent-bloc {
        margin-right: 3.042vw;
        width: 340px;
    }

    .content__formations-button,
    .content__recent-button {
        display: flex;
        flex-direction: row;
        align-self: center;
        align-items: center;
        justify-content: center;
    }

    .content__witness {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content__witness-title {
        font-size: 40px;
        margin-top: 3.625rem;
        margin-bottom: 4.125rem;
    }

    .content__witness-group {
        display: flex;
        flex-direction: row;
        margin-bottom: 8.1875rem;
        margin-left: 6.25rem;
    }

    .content__witness-bloc {
        display: flex;
        align-items: flex-start;
        width: 45.0625rem;
        margin-right: 1.5rem;
    }

    .content__witness-bloc:last-child {
        width: 42.0625rem;
        margin-right: 7rem;
    }

    .content__witness-text {
        width: 100%;
    }

    .content__benefits {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .content__benefits-group {
        display: flex;
        flex-direction: column;
        width: 42.875rem;
        margin-bottom: 8.1875rem;
    }

    .content__benefits-title {
        width: 100%;
        display: flex;
        align-self: flex-start;
        margin-top: 1.5625rem;
        margin-bottom: 2.6875rem;
        font-size: 40px;
        height: 2.9375rem;
    }
    .content__benefits-list {
        width: 100%;
        font-size: 24px;
    }

    .content__benefits-image {
        display: flex;
        width: 45.4375rem;
        height: 29.5rem;
        object-fit: cover;
        margin-top: 4.75rem;
        margin-bottom: 5.8125rem;
        margin-left: 4.4375rem;
        margin-right: 0;
    }

    .content__create {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 39px;
        height: auto;
    }

    .content__create-title {
        width: auto;
        grid-column: 2;
        text-align: left;
        font-size: 40px;
        margin: 0;
        margin-top: 4.938rem;
    }

    .content__create-label {
        display: block;
    }

    .content__create-list {
        width: 42.813rem;
        font-size: 24px;
        grid-column: 2;
        grid-row: 2;
        margin: 0;
        margin-bottom: 4.875rem;
        padding: 0;
    }

    .content__create-object {
        margin-bottom: 0.938rem;
    }

    .content__create-object:last-child {
        margin-bottom: 0;
    }

    .content__create-image {
        grid-row: 1 / 3;
        grid-column: 1;
        width: 45.5625rem;
        height: 30.4375rem;
        object-fit: contain;
        margin: 0;
        margin-left: 3.813rem;
    }

    .content__about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 46.25rem;
    }
    .content__about-title {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .content__about-content {
        display: flex;
        width: 44.4375rem;
        height: 740px;
        flex-direction: column;
        justify-content: center;
    }

    .content__about-group {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content__about-bloc {
        width: 50%;
        align-items: center;
        height: -webkit-fill-available;
    }

    .content__about-image {
        width: 26.875rem;
    }

    .footer__contact {
        height: 41.4375rem;
    }

    .footer__contact-head {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__contact-title {
        display: flex;
        align-self: center;
    }

    .footer__contact-title {
        font-size: 40px;
        margin: 3.75rem 0 2.4375rem;
    }

    .footer__contact-line {
        display: block;
        border: 1px solid #44dd8a;
        width: 21.875rem;
        margin-bottom: 3.375rem;
    }

    .footer__contact-group {
        display: flex;
    }

    .footer__contact-bloc {
        width: 599px;
    }
    .footer__contact-input {
        width: 100%;
        height: 2.8281rem;
    }

    .footer__contact-bloc:nth-child(1) {
        margin-right: 8.625rem;
    }

    .footer__contact-textarea {
        width: 83.495rem;
        margin-top: 1.4844rem;
        margin-bottom: 3.415rem;
    }

    .footer__contact-foot {
        display: flex;
        justify-content: center;
    }

    .footer__contact-submit {
        margin-bottom: 4.8388rem;
    }

    .footer__group {
        display: flex;
        flex-direction: row;
    }

    .footer__image {
        margin: 6.8125rem 0 6rem 6rem;
    }

    .footer__legalties {
        align-items: flex-start;
        text-align: left;
        margin-top: 6.375rem;
        margin-left: 18rem;
        margin-right: 4.0625rem;
        height: 8.4375rem;
    }

    .footer__legalties-title,
    .footer__coordinates-title {
        margin-bottom: 1rem;
    }

    .footer__coordinates {
        align-items: flex-start;
        text-align: left;
        margin-top: 6.375rem;
        height: 9rem;
    }

    .footer__connexion {
        display: flex;
        flex-direction: column;
        margin-top: 6.375rem;
        margin-left: 24.4375rem;
    }

    .footer__connexion-button {
        width: 8.125rem;
        height: 2.5rem;
        border: none;
        border-radius: 6px;
    }

    .footer__connexion-button:last-child {
        background: linear-gradient(95.98deg, #44dd8a 8.7%, #15b7e2 100%);
        margin-top: 0.75rem;
    }

    .footer__deco {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 92.625rem;
        margin-left: 6rem;
    }

    .footer__line {
        display: block;
        width: 100%;
        height: 0.125rem;
        background: #44dd8a;
    }

    .footer__copyright {
        display: flex;
        align-self: flex-start;
        width: 18.8125rem;
        height: 1.5rem;
        margin-right: 54.375rem;
        margin-top: 1.5625rem;
    }

    .footer__info {
        display: flex;
    }

    .footer__social {
        display: flex;
        align-self: flex-end;
        width: 19.75rem;
        height: 1.875rem;
        margin-top: 2.375rem;
        padding-bottom: 7.9375rem;
        text-align: center;
    }

    .footer__social-title {
        font-size: 15px;
        font-weight: 400;
        margin-right: 1.5rem;
    }

    .footer__social-link:nth-child(1),
    .footer__social-link:nth-child(2) {
        margin-right: 21px;
    }

    .footer__social-link:nth-child(3) {
        margin-right: 15px;
    }
}
